/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Affymetrix test data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Base configuration for Affymetrix microarray analysis tests. Include this config
    and add method-specific parameters.

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Affymetrix test data'
    config_profile_description = 'Base configuration for Affymetrix microarray analysis tests'

    // Study configuration
    study_name           = 'GSE50790'
    study_type           = 'affy_array'
    study_abundance_type = 'intensities'

    // Input data
    input                  = 'https://raw.githubusercontent.com/nf-core/test-datasets/differentialabundance/testdata/GSE50790.csv'
    contrasts_yml          = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/differentialabundance/testdata/GSE50790_contrasts.yaml'
    affy_cel_files_archive = 'https://raw.githubusercontent.com/nf-core/test-datasets/differentialabundance/testdata/GSE50790_RAW.tar'
    gene_sets_files        = 'https://raw.githubusercontent.com/nf-core/test-datasets/differentialabundance/testdata/h.all.v2022.1.Hs.symbols.gmt'

    // Observations (samples)
    observations_id_col   = 'name'
    observations_name_col = 'name'

    // Features (probes)
    features_id_col        = 'PROBEID'
    features_metadata_cols = 'PROBEID,ENSEMBL,SYMBOL,GENETYPE'
    features_name_col      = 'SYMBOL'

    // Exploratory analysis
    exploratory_main_variable = 'contrasts'
    exploratory_assay_names   = 'raw,normalised'
    exploratory_final_assay   = 'normalised'
    exploratory_log2_assays   = null

    // Differential analysis params
    differential_max_pval       = 0.05
    differential_max_qval       = 0.05
    differential_min_fold_change = 1.5
}
