/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for limma MaxQuant analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    limma differential analysis for MaxQuant proteomics data

    Use as follows:
        nextflow run nf-core/differentialabundance -profile test_maxquant_limma,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig "${projectDir}/conf/maxquant.config"

params {

    config_profile_name        = 'limma MaxQuant test'
    config_profile_description = 'limma differential analysis for MaxQuant proteomics data'

    // Differential analysis method
    differential_method              = 'limma'
    differential_file_suffix         = '.limma.results.tsv'
    differential_fc_column           = 'logFC'
    differential_pval_column         = 'P.Value'
    differential_qval_column         = 'adj.P.Val'
    differential_feature_id_column   = 'Majority protein IDs'
    differential_feature_name_column = 'Majority protein IDs'

    // ShinyNGS
    shinyngs_build_app = false
}
