/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for MaxQuant test data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Base configuration for MaxQuant proteomics analysis tests. Include this config
    and add method-specific parameters.

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'MaxQuant test data'
    config_profile_description = 'Base configuration for MaxQuant proteomics analysis tests'

    // Study configuration
    study_name           = 'PXD043349'
    study_type           = 'maxquant'
    study_abundance_type = 'intensities'

    // Input data
    input         = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/proteomics/maxquant/MaxQuant_samplesheet.tsv'
    matrix        = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/proteomics/maxquant/MaxQuant_proteinGroups.txt'
    contrasts_yml = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/differentialabundance/testdata/MaxQuant_contrasts.yaml'

    // Observations (samples)
    observations_id_col   = 'Experiment'
    observations_name_col = 'Name'

    // Features (proteins)
    features_type          = 'protein'
    features_id_col        = 'Majority protein IDs'
    features_name_col      = 'Majority protein IDs'
    features_metadata_cols = 'Majority protein IDs'

    // Exploratory analysis
    exploratory_main_variable = 'Celltype'
    exploratory_n_features    = -1
    exploratory_assay_names   = 'raw,normalised'
    exploratory_final_assay   = 'normalised'
    exploratory_log2_assays   = null

    // Proteus-specific
    proteus_measurecol_prefix = 'LFQ intensity'
}
