/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for RNA-seq test data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Base configuration for RNA-seq analysis tests. Include this config and add
    method-specific parameters.

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'RNA-seq test data'
    config_profile_description = 'Base configuration for RNA-seq analysis tests'

    // Study configuration
    study_name                 = 'SRP254919'
    study_type                 = 'rnaseq'
    study_abundance_type       = 'counts'

    // Input data
    input                    = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/mus_musculus/rnaseq_expression/SRP254919.samplesheet.csv'
    matrix                   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/mus_musculus/rnaseq_expression/SRP254919.salmon.merged.gene_counts.top1000cov.tsv'
    transcript_length_matrix = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/mus_musculus/rnaseq_expression/SRP254919.spoofed_lengths.tsv'
    contrasts_yml            = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/differentialabundance/testdata/SRP254919.contrasts.yaml'
    gtf                      = 'https://ftp.ensembl.org/pub/release-81/gtf/mus_musculus/Mus_musculus.GRCm38.81.gtf.gz'
    gene_sets_files          = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/mus_musculus/gene_set_analysis/mh.all.v2022.1.Mm.symbols.gmt'
    decoupler_network        = 'https://github.com/nf-core/test-datasets/raw/differentialabundance/modules_testdata/progeny/mouse_network.tsv'

    // Observations (samples)
    observations_id_col   = 'sample'
    observations_name_col = 'sample'

    // Features (genes)
    features_type          = 'gene'
    features_id_col        = 'gene_id'
    features_name_col      = 'gene_name'
    features_metadata_cols = 'gene_id,gene_name,gene_biotype'

    // Exploratory analysis
    exploratory_main_variable = 'contrasts'

    // Filtering
    filtering_min_abundance = 10

    // Test dataset is too small for the nsub default value
    deseq2_vst_nsub = 500

    // Report options
    report_contributors = 'Jane Doe\nDirector of Institute of Microbiology\nUniversity of Smallville;John Smith\nPhD student\nInstitute of Microbiology\nUniversity of Smallville'

    // Other
    round_digits = 3
}
