/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for dream RNA-seq analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    dream differential analysis on RNA-seq counts (for mixed models)

    Use as follows:
        nextflow run nf-core/differentialabundance -profile test_rnaseq_dream,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig "${projectDir}/conf/rnaseq.config"

params {

    config_profile_name        = 'dream RNA-seq test'
    config_profile_description = 'dream differential analysis on RNA-seq counts (for mixed models)'

    // Override input data for dream (needs complex contrasts)
    input         = 'https://github.com/nf-core/test-datasets/raw/differentialabundance/modules_testdata/variancepartition_dream/metadata.tsv'
    matrix        = 'https://github.com/nf-core/test-datasets/raw/differentialabundance/modules_testdata/variancepartition_dream/counts.tsv'
    contrasts_yml = 'https://github.com/nf-core/test-datasets/raw/differentialabundance/testdata/formula_contrasts/rnaseq_complex_contrast.yaml'

    // Differential analysis method
    differential_method              = 'dream'
    dream_apply_voom                 = true
    differential_file_suffix         = '.dream.results.tsv'
    differential_fc_column           = 'logFC'
    differential_pval_column         = 'P.Value'
    differential_qval_column         = 'adj.P.Val'
    differential_feature_id_column   = 'gene_id'
    differential_feature_name_column = 'gene_name'

    // Exploratory analysis
    exploratory_assay_names  = 'raw,normalised'
    exploratory_final_assay  = 'normalised'
    exploratory_log2_assays  = 'raw'
}
