/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for limma-voom RNA-seq analysis with gProfiler2
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    limma-voom differential analysis on RNA-seq counts with gProfiler2 functional enrichment

    Use as follows:
        nextflow run nf-core/differentialabundance -profile test_rnaseq_limma_gprofiler2,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig "${projectDir}/conf/rnaseq.config"

params {

    config_profile_name        = 'limma-voom RNA-seq with gProfiler2 test'
    config_profile_description = 'limma-voom differential analysis on RNA-seq counts with gProfiler2 functional enrichment'

    // Differential analysis method
    differential_method              = 'limma'
    limma_use_voom                   = true
    differential_file_suffix         = '.limma.results.tsv'
    differential_fc_column           = 'logFC'
    differential_pval_column         = 'P.Value'
    differential_qval_column         = 'adj.P.Val'
    differential_feature_id_column   = 'gene_id'
    differential_feature_name_column = 'gene_name'

    // Exploratory analysis
    exploratory_assay_names  = 'raw,normalised'
    exploratory_final_assay  = 'normalised'
    exploratory_log2_assays  = 'raw'

    // Functional enrichment
    functional_method   = 'gprofiler2'
    gprofiler2_organism = 'mmusculus'
}
