/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for limma GEO SOFT file analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    limma differential analysis for GEO SOFT files

    Use as follows:
        nextflow run nf-core/differentialabundance -profile test_soft_limma,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

includeConfig 'soft.config'

params {

    config_profile_name        = 'limma GEO SOFT test'
    config_profile_description = 'limma differential analysis for GEO SOFT files'

    // Differential analysis method
    differential_method              = 'limma'
    differential_file_suffix         = '.limma.results.tsv'
    differential_fc_column           = 'logFC'
    differential_pval_column         = 'P.Value'
    differential_qval_column         = 'adj.P.Val'
    differential_feature_id_column   = 'ID'
    differential_feature_name_column = 'Symbol'
}
